.game-card-cart {
  width: 250px;
  height: 350px;
  position: relative;
}

.img-cart {
  width: 240px;
  height: 240px;
  object-fit: scale-down;
}

.btn-cart {
  width: 30px;
  height: 30px;
}

.btn-remove {
  position: absolute;
  right: 0px;
}
